# Ignore typical Nextflow files
*.nextflow*
.nextflow/
.nextflow.log
.nextflow.history

# Ignore temporary files
*.tmp
*.swp
*.bak
*.log

# Ignore directories
work/
results/

# Ignore cpython files
*.cpython*

# Ignore .DS_Store files
.DS_Store