params {
    samplesheet = 'path/to/your/samplesheet.csv'
    outdir = 'results'
}

profiles {
    docker {
        docker.enabled = true
    }
    conda {
        conda.enabled = true
    }
    tower {
        docker.enabled = true
        cpus = {2 * task.attempt}
        memory = {8.GB * task.attempt}
        maxRetries = 3
        errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore' }
    }
    local {
        executor = 'local'
        process {
            withName: EMBEDDING {
                resourceLimits = [ cpus: 9, memory: 24.GB, time: 1.h ]
                maxForks = 1
            }
            withName: GRAND_QC_RUN {
                resourceLimits = [ cpus: 4, memory: 8.GB, time: 1.h ]
                maxForks = 2
            }
        }
    }
}

