params {
    samplesheet = 'path/to/your/samplesheet.csv'
    outdir = 'results'
}

profiles {
    docker {
        docker.enabled = true
    }
    conda {
        conda.enabled = true
    }
    tower {
        docker.enabled = true
        cpus = {2 * task.attempt}
        memory = {8.GB * task.attempt}
        maxRetries = 3
        errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore' }
        process {
            withName: EMBEDDING {
                cpus = {8 * task.attempt}
                memory = {24.GB * task.attempt}
                accelerator = 1
                container = 'ghcr.io/adamjtaylor/nf-wsi-vignette/tiatoolbox:latest'
                containerOptions = { workflow.containerEngine == "singularity" ? '--nv': ( workflow.containerEngine == "docker" ? '--gpus all': null ) }
            }
            withName: GRAND_QC_RUN {
                cpus = {8 * task.attempt}
                memory = {24.GB * task.attempt}
                accelerator = 1
                container = 'ghcr.io/adamjtaylor/nf-wsi-vignette/grandqc:latest'
                containerOptions = { workflow.containerEngine == "singularity" ? '--nv': ( workflow.containerEngine == "docker" ? '--gpus all': null ) }
            }
        }
    }
    tower_test {
        params.samplesheet = 's3://htan-project-tower-bucket/nf-wsi-vignette/inputs/tower_test_samplesheet.csv'
        params.outdir = 's3://htan-project-tower-bucket/nf-wsi-vignette/outputs'
        params.grandqc = true
        params.foundation = true
    }
    local {
        executor = 'local'
        process {
            withName: EMBEDDING {
                resourceLimits = [ cpus: 9, memory: 24.GB, time: 1.h ]
                maxForks = 1
            }
            withName: GRAND_QC_RUN {
                resourceLimits = [ cpus: 4, memory: 8.GB, time: 1.h ]
                maxForks = 2
            }
        }
    }
}

