profiles {
    // docker profile simply enables the use of docker containers
    docker {
        docker.enabled = true
    }
    // conda profile enables the use of conda environments
    // these are currently hardcoded to the paths on my local machine
    conda {
        conda.enabled = true
    }
    // gpu profile enables the use of NVIDIA GPU
    gpu {
        process {
            withLabel: GPU {
                accelerator = 1
                containerOptions = '--gpus all'
            }
        }
    }
    // tower profile optimises the resource usage on Seqera Platform on AWS batch (Formerly known as Tower)
    tower {
        docker.enabled = true
        process {
            cpus = {2 * task.attempt}
            memory = {8.GB * task.attempt}
            maxRetries = 3
            errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore' }
            withLabel: HIGH {
                cpus = {8 * task.attempt}
                memory = {24.GB * task.attempt}
            }
        }
    }
    // local profile is used for running the pipeline on a local machine
    // it reduces the number of forks to 1 for intensive processes
    local {
        process {
            executor = 'local'
            withLabel: GPU {
                maxForks = 1
            }
        }
    }
    // Test profile with remote resources that the HTAN Seqera Platform project has access to
    tower_test {
        params.samplesheet = 's3://htan-project-tower-bucket/nf-wsi-vignette/inputs/tower_test_samplesheet.csv'
        params.outdir = 's3://htan-project-tower-bucket/nf-wsi-vignette/outputs'
        params.grandqc = true
        params.foundation = true
        params.huggingface_hub_path = "s3://htan-project-tower-bucket/nf-wsi-vignette/huggingface"
        params.model = "H-optimus-0"
    }

}

